body {
    background-color: #f6f6ef;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6600;
    padding: 5px;
}

header h1 {
    margin: 0;
    display: inline;
}

nav {
    display: inline;
    margin-left: 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

main ul {
    list-style: none;
    padding: 0;
}

main li {
    background: white;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

main h2 a {
    color: black;
    text-decoration: none;
}
