body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    background-color: #f6f6ef;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6600;
    padding: 5px 10px;
    color: black;
    font-size: 14px;
}

header h1 {
    margin: 0;
    display: inline;
}

nav {
    float: right;
}

nav a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

main {
    margin: 10px;
}

main ul {
    list-style-type: none;
    padding: 0;
}

main li {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 1px;
    border-bottom: 1px solid #e0e0e0;
}

main h2 {
    font-size: 14px;
    margin: 0 0 5px 0;
}

main h2 a {
    text-decoration: none;
    color: #000000;
}

main p {
    margin: 0;
    font-size: 12px;
    color: #828282;
}
